.navbar{

    background-color: #074e54;
    color: #fff;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.navbar__logo{
    display: flex;
    align-items: center;
    margin: 0 1rem 0 1rem;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}

.butt{
    margin-left: auto;
    margin-right: 1vw;
    width: 7vw;
    min-width: 4vw;
    height: 2rem;


}